wheel==0.23.0
Flask==0.10.1
geopy==1.11.0
elasticsearch==2.2.0
six==1.9.0
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
